.main_social_container {
    text-align: center;
}

.main_social_container h2 {
    font-size: 2.5rem;
    color: var(--color-font-1);
}

.social_link {
    margin-bottom: 50px;
}

.social_link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding-left: 0;
}

.social_item a img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    /* mobile */
    .main_social_container h2 {
        font-size: 1.5rem;
    }

    .social_link ul {
        gap: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* tablet */

}

@media screen and (min-width: 1024px) {
    /* pc */

}