.login_overlay {
    position: fixed;
    width: 30%;
    top: 300px;
    left: 650px;
    margin: auto;
    z-index: 12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login_logo h2 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-font-1);
}

.login_logo img {
    width: 20%;
    border-radius: 30px;
}

.login_form {
    width: 50%;
    text-align: center;
}

.form_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form_element label {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-font-1);
}

.form_element input {
    width: 60%;
    padding: .5rem;
    background-color: var(--color-box-6);
    border: none;
    border-radius: 8px;
}

.password.error,
.id.error {
    background-color: var(--color-box-1);
}

.errorMsg {
    color: var(--color-font-2);
    margin-bottom: 0;
}

.login_form button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: .5rem 1.5rem;
    background: none;
    background-color: #f8edeb;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.login_form button:hover,
.login_form button:active {
    background-color: #f9dcc4;
}

@media screen and (max-width: 767px) {
    /* mobile */
    .login_overlay {
        width: 100vw;
        height: 300px;
        top: 100px;
        left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .login_logo h2 {
        font-size: 1.5rem;
    }

    .login_form {
        width: 80vw;
    }

    .form_element label {
        font-size: 1.5rem;
    }
    
    .form_element input {
        padding: .8rem;
        font-size: .9rem;
    }

    .login_form button {
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* tablet */
    .login_overlay {
        width: 100vw;
        height: 450px;
        top: 100px;
        left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .login_logo h2 {
        font-size: 3rem;
    }

    .login_form {
        width: 45vw;
    }

    .form_element label {
        font-size: 2rem;
    }
    
    .form_element input {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .login_form button {
        padding: 1rem 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1205px) {
    /* pc */
    .login_overlay {
        width: 100vw;
        height: 450px;
        top: 100px;
        left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .login_logo h2 {
        font-size: 3rem;
    }

    .login_form {
        width: 50vw;
    }

    .form_element label {
        font-size: 2rem;
    }
    
    .form_element input {
        width: 30vw;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .login_form button {
        padding: 1rem 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1206px) and (max-width: 1787px) {
    /* pc */
    .login_overlay {
        width: 50%;
        top: 30%;
        left: 25%;
    }
}