.signin_overlay {
    position: fixed;
    width: 50%;
    top: 50px;
    left: 25%;
    margin: auto;
    z-index: 12;
    margin-top: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
}

.signin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.signin_container h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.signin_container p {
    font-size: .9rem;
    color: #4361ee;
}

.signin_form {
    width: 60%;
    text-align: center;
}

.signin_form_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: 10px;
}

.signin_form_element label {
    font-size: 1.2rem;
}

.signin_form_element select {
    width: 71.8%;
    padding: .3rem;
    border: none;
    border-radius: 8px;
    background-color: var(--color-box-6);
}

.signin_form_element input {
    width: 70%;
    padding: .3rem;
    border: none;
    border-radius: 8px;
    background-color: var(--color-box-6);
    font-size: 1rem;
}

.signin_form button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: .5rem 1.5rem;
    background: none;
    background-color: #f8edeb;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.signin_form button:hover:not(:disabled),
.signin_form button:active:not(:disabled) {
    background-color: #f9dcc4;
}

.form_privacy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_privacy a {
    padding: .1rem 1.5rem;
    font-size: .8rem;
    color: #4361ee;
    text-decoration: none;
}

#privacy_centerBar {
    width: 2px;
    height: 12px;
    background-color: var(--color-box-4);
}

@media screen and (max-width: 767px) {
    /* mobile */
    .signin_overlay {
        width: 100vw;
        height: 100vh;
        top: -150px;
        left: 0;
    }

    .signin_container h2 {
        font-size: 1.1rem;
    }
    
    .signin_container p {
        font-size: 1rem;
        text-align: center;
        word-break: keep-all;
    }

    .signin_form {
        margin-top: 0;
        width: 100%;
    }

    .signin_form_element {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .signin_form_element label {
        font-size: .9rem;
    }
    
    .signin_form_element select {
        width: 340px;
        padding: .5rem;
        font-size: .8rem;
    }
    
    .signin_form_element input {
        width: 100%;
        padding: .5rem;
        font-size: .8rem;
    }

    .signin_form button {
        padding: .5rem 2.5rem;
        font-size: .8rem;
        margin: .3rem;
    }

    .form_privacy {
        margin-bottom: 10px;
    }

    .form_privacy a {
        padding-top: 0;
        padding-bottom: 0;
        font-size: .8rem;
    }
    
    #privacy_centerBar {
        width: 2px;
        height: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* tablet */
    .signin_overlay {
        width: 100vw;
        height: 100vh;
        top: -150px;
        left: 0;
    }

    .signin_container h2 {
        font-size: 2.5rem;
    }
    
    .signin_container p {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .signin_form {
        margin-top: 30px;
        width: 80%;
    }

    .signin_form_element {
        margin-bottom: 30px;
    }

    .signin_form_element label {
        font-size: 2rem;
    }
    
    .signin_form_element select {
        width: 75%;
        padding: 1rem;
        font-size: 1.5rem;
    }
    
    .signin_form_element input {
        width: 70%;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .signin_form button {
        padding: 1.5rem 4.5rem;
        font-size: 2rem;
    }

    .form_privacy a {
        padding: 1.5rem 3.5rem;
        font-size: 1.5rem;
    }
    
    #privacy_centerBar {
        width: 2px;
        height: 22px;
    }
}

@media screen and (min-width: 1025px) {
    /* pc */

}