@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');

html {
  --color-font-1: #000814;
  --color-font-2: #ef233c;
  --color-font-3: #6c757d;
  --color-font-4: #4361ee;
  --color-font-5: #161616;
  --color-box-1: #e63946;
  --color-box-2: #e9ecef;
  --color-box-3: #dee2e6;
  --color-box-4: #adb5bd;
  --color-box-5: #212529;
  --color-box-6: #fcd5ce;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Roboto', 'Poppins', sans-serif;
  overflow-x: hidden;
}